.header {
  position: fixed;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  transition: 0.4s;
  box-shadow: none;
  top: 0;
  // backface-visibility: hidden;
  overflow: hidden;
  background: $bg_color;

  &.onScroll {
    // box-shadow: $base_shadow;
    // background-color: $white;
  }
}

.header-content {
  height: 64px;
  width: 100%;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 1.25em;
  font-weight: bold;

  @include mq(sm) {
    padding: 0 1em;
  }

  &__titleText {
    font-family: $accent_font;
    font-size: 1.25em;
    font-weight: 500;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // img {
    //   height: 32px;
    // }
  }

  &__search {
    transition: 0.3s;
    padding: 15px;
    margin-right: -15px;
    display: flex;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}
