@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.search {
  min-height: 90vh;

  &Wrapper {
    max-width: 900px;
    margin: 0 auto;
  }

  &Form {
    display: flex;
    justify-content: center;

    @include mq(sm) {
      justify-content: space-between;
      padding: 0 1em;
    }

    &-input {
      width: 100%;
      font-size: 1.5em;
      border: 1px solid $primary;
      border-radius: 1.2em;
      padding: 0.5em 0.7em;

      @include mq(sm) {
        font-size: 1.25em;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-result {
    margin-top: 2em;
    padding: 0 1em;

    @include mq(sm) {
      margin-top: 1em;
    }

    .postcard-wrapper {
      animation-name: FadeIn;
      animation-duration: 0.5s;
    }
  }

  &-noPost {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
  }
}
