@import "./reset.scss";
@import "./config.scss";
@import "./header.scss";
@import "./category.scss";
@import "./layout.scss";
@import "./postcard.scss";
@import "./footer.scss";
@import "./post.scss";
@import "./blocks";
@import "./tableOfContent";
@import "./tag";

html {
  font-size: 17px;

  @include mq(hf) {
    font-size: 16px;
  }
}

body {
  font-family: $base_font;
  background-color: $bg_color;
  color: $black;
}
