@font-face {
  font-family: RobotoMono;
  src: url("./RobotoMono/RobotoMono-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: SouceCodePro;
  src: url("./SouceCodePro/SourceCodePro-Regular.ttf") format("ttf");
  font-display: swap;
}
